<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
        <title>Classes</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <h1>Conclave</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-link active"><%= link_to "Home", user_path(session[:current_user]) %> </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class='container'>
      <h1> Edit User Info </h1>
      <%= form_with model: @user do |form| %>
        <div>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
          <% @user.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      
        <div>
          <%= form.label :email %><br>
          <%= form.text_field :email %><br>
          <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      
        <div>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
    </body>
</html>