<body class='login-body'>
  <div class='loginbox'>
    <h1> User Login </h1>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= form_with model: @user, url: '/login', method: :post, local: true do |form| %>
        <div>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </div>
      
        <div>
          <%= form.label :email %><br>
          <%= form.text_field :email %><br>
        </div>
      
        <div>
          <%= form.submit "Log in" %>
          <%= link_to "Sign up", signup_path(@user) %>
  
        </div>
      <% end %>
  </div>
</body>

