<%= form_with model: [role, user], url: url do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :e %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
          <div class="error_msg"><%= message %></div><br>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @post.errors.full_messages_for(:body).each do |message| %>
          <div class="error_msg"><%= message %></div><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
