<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= @user.name %>'s Conclave</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><li><%= link_to "Home", user_path(@user) %></li></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Back to Course", course_path(@course) %> </li>
        <li><%= link_to "Create new post", new_course_post_path(@course) %> </li>
        <% if is_instructor? @user_role or @user.id == @post.user_id%>
          <li class="nav-link"><%= link_to "Edit Post", edit_course_post_path(@course) %></li>
          <li class="nav-link"><%= link_to "Delete Post", course_post_path(@course), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
          </li>
        <% end %>
        <li><%= link_to "Logout", logout_path%> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div>
    <h3><%= @post.title %></h3>
  </div>
  <div class='container-fluid'>
    <div>
      <h6><%= User.find(@post.user_id).name %></h6>
    </div>
    <p><%= @post.body %></p>
    <hr/>
    <ol class="list-group list-group-numbered">
      <% @comments.each do |comment|%>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @comments_users_hash[comment.user_id].name %></h5>
            </div>
            <p class="mb-1"><%= comment.body %></p>
            <% if is_instructor? @role.role or @user.id == comment.user_id%>
              <small>
                <%= link_to "Edit", edit_course_post_comment_path(@course,@post,comment) %>
                <%= link_to "Delete", course_post_comment_path(@course,@post,comment), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </small>
            <% end %>
          </div>
        </li>
      <% end %>
    </ol>
    <%= paginate @comments, param_name: :comments_pagina %>
  </div>
</div>
<div class='container'>
  <button class='btn btn-primary'><%= link_to "New Comment", new_course_post_comment_path(course_id: @course.id, post_id: @post.id)%></a>
  </button>
</div>
