
<div class="title">
  <h3>Post</h3>
  <div id="post-info">
    <table>
      <tr>
        <th>User</th>
        <th>Course</th>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
      <tr>
        <td><%= @current_user.name %></td>
        <td><%= @course.name %></td>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>
        <td>
          <li class="nav-link"><%= link_to "Edit", edit_course_post_path(@post) %></li>
          <li class="nav-link"><%= link_to "Delete", course_post_path(@post), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        </td>
      </tr>
    </table>
  </div>
</div>
